@Html.Partial("~/Views/Shared/_BannerSliderPartialView.cshtml")

<section class="other__pages">
    <div class="container">
        <div class="other__pages-btns">
            <a href="#" class="other__pages-btn text-center">
                <div class="btn__image">
                    <img src="~/images/icons/dzvali.png" alt="add">
                </div>

                <h5>წვრთნა</h5>
            </a>

            <a href="#" class="other__pages-btn text-center">
                <div class="btn__image">
                    <img src="~/images/icons/add.png" alt="add">
                </div>

                <h5>ვეტერინარი</h5>
            </a>
        </div>


        <div class="sectioon__wrapper veterinary__page">
            <div class="veterinaries">
                <div class="veterinaries__user boss">
                    <div class="user" style="background-image: url('@Url.Content("~/images/boss.png")'"></div>
                    <div class="user__title">ვეტერინარის სახელი და გვარი</div>
                </div>

                <div class="veterinaries__user">
                    <div class="user" style="background-image: url('@Url.Content("~/images/user2.png")'"></div>
                    <div class="user__title">ვეტერინარის სახელი და გვარი</div>
                </div>

                <div class="veterinaries__user">
                    <div class="user" style="background-image: url('@Url.Content("~/images/user3.png")'"></div>
                    <div class="user__title">ვეტერინარის სახელი და გვარი</div>
                </div>

                <div class="veterinaries__user">
                    <div class="user" style="background-image: url('@Url.Content("~/images/user4.png")'"></div>
                    <div class="user__title">ვეტერინარის სახელი და გვარი</div>
                </div>

                <div class="veterinaries__user">
                    <div class="user" style="background-image: url('@Url.Content("~/images/user5.png")'"></div>
                    <div class="user__title">ვეტერინარის სახელი და გვარი</div>
                </div>
            </div>
        </div>
    </div>
</section>

