@model IEnumerable<Veterinary.Models.Topic>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ForumLayout.cshtml";
}




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">თემის სათაური</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" placeholder="@ViewBag.name" value="@ViewBag.name" readonly="readonly" id="TopicCategory" type="text"/>

                </div>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id="TopicName" type="text" />

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="CloseBtn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="PriceBtn">შენახვა</button>
            </div>
        </div>
    </div>
</div>






<div class="container">



    <div class="my-3 p-3 bg-light rounded shadow-lg">
        <h6 class="border-bottom border-gray pb-2 mb-0">
            @ViewBag.name
            <button type="button" style="margin-left:800px" class="btn btn-primary" id="add" data-toggle="modal" data-target="#exampleModal">
                ახალი თემა

            </button>
        </h6>
    @foreach (var item in Model)
    {

        <div data-ID="@item.ID" class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                @Html.ActionLink(@item.TopicName, "Topic", new { id = item.TopicName })
            </p>
        </div>



    }
    </div>
</div>