<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geoton Project</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script>
        var Path = "@Url.Content("~/")";
    </script>
</head>
<body>


    <!-- header -->
    <header class="header">

        <div class="header__container flex justify-center">
            <div class="header__logo">
                <a href="/Home/Index">
                    <img src="~/images/logo.png" alt="logo">
                </a>
            </div>

            <nav class="header__navbar">
                <ul class="flex align-items">
                    <li class="header__navbar-li"><a class="header__navbar-a" href="~/About">ჩვენს შესახებ</a></li>
                    <li class="header__navbar-li"><a class="header__navbar-a" href="~/Home/Food">კვება</a></li>
                    <li class="header__navbar-li"><a class="header__navbar-a" href="~/Care">მოვლა</a></li>
                    <li class="header__navbar-li"><a class="header__navbar-a" href="#">საინტერესო</a></li>
                    <li class="header__navbar-li"><a class="header__navbar-a" href="~/Forum">ფორუმი</a></li>
                </ul>
            </nav>

            <div class="header__right flex">
                <div class="header__search w-100 flex align-items">
                    <input class="form__control" type="text" id="searchTerm" placeholder="ძიება...">
                    <img class="search__img" src="~/images/icons/search.png" alt="search">
                </div>


                <div>
                    @if (Session["user"] == null)
                    {
                        <div id="login-logout" class="login open__popup" data-popup="login">
                            <p></p>
                            <a href="/Account/Login">შესვლა </a>
                            @*<img src="~/images/icons/fb.png" alt="fb">*@
                        </div>
                    }
                    else
                    {
                        <div>
                            <p style="color:red">@ViewBag.name</p>
                            <a href="/Account/Logout">გასვლა </a>

                        </div>
                    }
                </div>


            </div>
        </div>
    </header>

    <div class="popup login__popup popup-close" data-popup="login">
        <div class="popup__container">
            <div class="popup__top">
                <h4>სისტემაში შესვლა</h4>
            </div>

            <div class="popup__bottom">


                @Html.Partial("~/Views/Account/Login.cshtml")

                @Html.Partial("~/Views/Account/Registration.cshtml")

                @Html.Partial("~/Views/Account/Recovery.cshtml")
            </div>
        </div>
    </div>


    @RenderBody()




    <!-- footer -->
    <footer class="footer">
        <ul class="footer__social">
            <li><a href="#"><img src="~/images/icons/fb.png" alt="fb"></a></li>
            <li><a href="#"><img src="~/images/icons/instagram.png" alt="instagram"></a></li>
        </ul>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>